.testColor {
  background-color: #fcfa3b;
}

.mainResults {
  width: 25%;
  border: solid 15px rgba(0, 0, 0, 0.5);
  float: left;
  margin-left: 10%; 
  border-radius: 20px;
}

.mainSaved {
  width: 25%;
  border: solid 15px rgba(0, 0, 0, 0.5);
  float: right;
  margin-right: 10%;  
  border-radius: 20px;
}

.logo {
  width: 2em;
}

.price {
  color: rgb(100, 100, 100);
  font-size: 25px;
}

.buttonResults {
  width: 100%;
  font-size: 20px;
  opacity: 0;
  transition: opacity .35s ease;
}

.buttonSaved {
  width: 100%;
  font-size: 20px;
  opacity: 0;
  transition: opacity .35s ease;
}

.mainResults:hover .buttonResults {
  opacity: 1;
  background-color: lightgreen;
  cursor: pointer;
}

.mainSaved:hover .buttonSaved {
  opacity: 1;
  background-color: red;
  cursor: pointer;
}

.logoMain {
  width: 25px;
  border-radius: 20px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.mainSaved:hover {
  transform: translateY(0.3em);
  transition-duration: 1s;
}

.mainResults:hover:hover {
  transform: translateY(0.2em);
  transition-duration: 1s;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }