$test: red;

.weak {
  color: $test;
}

.good {
  color: green;
}

.testColor {
  background-color: #fcfa3b;
}

.main {
  width: 5px;
  border: solid 5px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 2em;
}

.saved {
  margin-left: 400px;
  background-color: blue;
  font-size: 500px;
  color: white;
  border: 35px solid red;
}