.testColor {
  background-color: #fcfa3b;
}

.mainResults {
  margin-top: 20px;
  width: 30%;
  border: solid 5px rgba(0, 0, 0, 0.5);
  float: left;
  margin-left: 10%; 
}

.mainSaved {
  width: 30%;
  border: solid 5px rgba(0, 0, 0, 0.5);
  float: right;
  margin-right: 10%;  
}

.logo {
  width: 2em;
}

.saved {
  margin-left: 400px;
  background-color: blue;
  font-size: 500px;
  color: white;
  border: 35px solid red;
}

.price {
  color: rgb(100, 100, 100)
}

.buttonResults {
  width: 100%;
  font-size: 20px;
  opacity: 0;
  transition: opacity .35s ease;
}

.buttonSaved {
  width: 100%;
  font-size: 20px;
  opacity: 0;
  transition: opacity .35s ease;
}

.mainResults:hover .buttonResults {
  opacity: 1;
  background-color: lightgreen;
}

.mainSaved:hover .buttonSaved {
  opacity: 1;
  background-color: red;
}

.logoMain {
  width: 30px;
  border-radius: 20px;
}